#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;


  aside{
    flex: 7;
    background-color: #835afd;
    color: #FFF;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 12rem 6rem;
    
    img{
      max-width: 420px;
    }
  
    strong{
      font: 700 1.8rem 'Poppins', sans-serif;
      line-height: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  
    p{
      width: 60%;
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 4rem;
      color: #f8f8f8;
    }
  }

  @media (max-width: 1000px) {
    aside {
      width: 45%;
    }
  }

  @media (max-width: 768px) {
    aside {
      display: none;
    }
  }

  main{
    flex: 8;
  
    padding: 0 2rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .main-content{
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    .create-room-icon {
      margin: 0.7rem;
    }

      > img{
        align-self: center;
      }

      h2{
        font-size: 1.4rem;
        margin: 4rem 0 1.5rem;
        font-family: 'Poppins', sans-serif;
        color: #383838;
      }

      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        input[type="file"] {
          display: none;
      }

      .custom-file-upload {
        border: 1px solid #ccc;
        padding: .5rem 1rem;
        cursor: pointer;
        border-radius: .5rem;
        transition: .1s linear;
        
        &:hover{
          background-color: #e559f9;  
          color: #fff;
        }
    }
        
        input{
          height: 3rem;
          border-radius: 0.5rem;
          padding: 1rem;
          background-color: #fff;
          border: 1px solid #dfdfdf;
          margin: 1rem 0;
        }
        button{
          margin-top: 1rem;
        }
        button, input{
          width: 100%
        }
      }

      p{
        font-size: 0.9rem;
        color: #737380;
        margin-top: 1rem;

        a{
          text-decoration: none;
          color: #e559f9;
        }
      }
    }
  }

  .create-room{
    margin-top: 4rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    background: #FFF;
    color: #737380;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #dfdfdf;

    transition: .3s ease-in-out;

    img{
      width: 10%;
      margin-right: 0.5rem;
      transition: .5s ease-in-out;
    }

    &:hover img{
      transform: scale(1.8) translateX(-30%);
    }

    &:hover{
      transform: scale(1.05);
    }

  }

  .divider{
    font-size: 1rem;
    color: #a8a8b3;
    margin: 2rem 0;
    
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 1rem;
    }

    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 1rem;
    }
  }

  .modal-delete-question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    img {
      width: 25%;
    }

    h2 {
      padding: 0;
    }

    p {
      padding: 1rem;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;

      button:first-child {
        background: #E2E2E2;
      }
  
       button {
        background: #E73F5D;
      }
    }
  }

  .rooms-content {
    width: 100%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;

    h2{
      width: 100%;
      font-size: 1.4rem;
      margin: 4rem 0 1.5rem;
      font-family: 'Poppins', sans-serif;
      color: #383838;
    }

    a {

      width: 30%;
      text-decoration: none;
      transition: .2s linear;

      .my-rooms {
        width: 100%;
        background-color: #835afd;
        color: #fff;
        border-radius: 1rem;
        padding: 1rem;
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .1s linear;

        &:hover {
          background-color: #FFF;
          color: #835afd;
          border: 1px solid #835afd;
        }
    }
      // flex-wrap: wrap;
      

      span {
        font-weight: 500;
      }
    }

  }
}

@media (max-width: 768px) {
  #page-auth {
    height: auto;
  }
}

