.button{
  height: 3.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: #8354fd;
  color: #FFF;
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;

  transition: .2s ease-in-out;

  img{
    margin-right: 0.5rem;
    transition: .2s ease-in-out;
  }

  &.outlined {
    background: #FFF;
    border: 1px solid #835afd;
    color: #835afd;
    font-size: 0.9rem;
  }

  &:hover img{
    transform: scale(1.2);
  }

  &:not(:disabled):hover{
    filter: brightness(0.9);
    transform: scale(1.05);
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
}